<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmAnswerMapper">
    <insert id="addZgmAnswer">
        insert into zgm_answer(user_id,gateway_id,create_time) values (#{userId},#{gatewayId},now())
    </insert>
    <select id="selectZgmAnswerById" resultType="net.zgm.model.ZgmAnswer">
        select *from zgm_answer where user_id=#{userId}  and gateway_id=#{gatewayId}
    </select>
    <select id="selectZgmAnswerByUid" resultType="net.zgm.model.ZgmAnswer">
        select * from zgm_answer where user_id=#{userId}
    </select>
</mapper>