<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmClickzanMapper">
    <insert id="addNewsClickzan">
     insert  into  zgm_clickzan(user_id,news_id,clicknews_time) values (#{userId},#{newsId},now())
   </insert>
    <insert id="addVideoClickzan">
     insert  into  zgm_clickzan(user_id,video_id,clickvideo_time) values (#{userId},#{videoId},now())
    </insert>
    <delete id="deleteNewsClickzan">
        delete from zgm_clickzan where news_id =#{newsId}  and user_id=#{userId}
    </delete>
    <delete id="deleteVideoClickzan">
        delete from zgm_clickzan where video_id =#{videoId} and user_id=#{userId}
    </delete>
    <select id="selectIfclickNews" resultType="net.zgm.model.ZgmClickzan">
        select * from  zgm_clickzan where news_id=#{newsId} and user_id=#{userId}
    </select>
    <select id="selectIfclickVideo" resultType="net.zgm.model.ZgmClickzan">
         select * from  zgm_clickzan where video_id=#{videoId} and user_id=#{userId}
    </select>
    <select id="selectZgmClickzanByUid" resultType="net.zgm.model.ZgmClickzan">
        select * from zgm_clickzan where user_id=#{userId}
    </select>
</mapper>
