<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmQuestionMapper">
    <select id="selectZgmQuestionByGid" resultType="net.zgm.model.ZgmQuestion">
		select * from zgm_question where gateway_id=#{gatewayId}  limit 10
	</select>

</mapper>
