<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmInformationMapper">

    <select id="selectAppIntroduce" resultType="net.zgm.model.ZgmInformation">
		select * from zgm_information
	</select>
	<update id="updateAppIntroduce" parameterType="net.zgm.model.ZgmInformation">
		update zgm_information
		<set>
			<if test="appIntroduce != null and appIntroduce != ''">
				appIntroduce=#{appIntroduce},
			</if>
			<if test="appTitle != null and appTitle != ''">
				appTitle=#{appTitle}
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>
