<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmQuestionMapper">

    <select id="selectZgmQuestionByGid" resultType="net.zgm.model.ZgmQuestion">
		 SELECT * FROM zgm_question where gateway_id=1 ORDER BY RAND() LIMIT 10;
	</select>

</mapper>
