<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zgm.mapper.ZgmTranspondMapper">

    <insert id="addNewsTranspond">
        <if test="integral!=null">
            insert into zgm_transpond(user_id,news_id,transpondnews_time,transpondnews_integral) values
            (#{userId},#{newsId},now(),#{integral})
        </if>
        <if test="integral==null">
            insert into zgm_transpond(user_id,news_id,transpondnews_time) values (#{userId},#{newsId},now())
        </if>
    </insert>
    <insert id="addVideoTranspond">
        <if test="integral!=null">
            insert into zgm_transpond(user_id,video_id,transpondvideo_time,transpondvideo_integral) values
            (#{userId},#{videoId},now(),#{integral})
        </if>
        <if test="integral==null">
            insert into zgm_transpond(user_id,video_id,transpondvideo_time) values (#{userId},#{videoId},now())
        </if>
    </insert>
    <select id="selectZgmTranspondByUid" resultType="net.zgm.model.ZgmTranspond">
        select *from zgm_transpond where user_id=#{userId}
    </select>
    <select id="selectNewsTranspondById" resultType="net.zgm.model.ZgmTranspond">
        select *from zgm_transpond where user_id=#{userId} and news_id=#{newsId}
    </select>
    <select id="selectVideoTranspondById"
            resultType="net.zgm.model.ZgmTranspond">

                select *from zgm_transpond where user_id=#{userId} and video_id=#{videoId}

    </select>

    <select id="selectZgmTranspondByDate"
            resultType="net.zgm.model.ZgmTranspond">
        select *from zgm_transpond
        <where>
            <if test="videodate!=null">
                user_id=#{userId} and transpondvideo_time like '%${videodate}%'
            </if>
            <if test="newsdate!=null">
                user_id=#{userId} and transpondnews_time like '%${newsdate}%'
            </if>
        </where>

    </select>


</mapper>
